@model DeAn.Models.ViewModel.HomeProductVM
@using PagedList.Mvc
<link rel="stylesheet" type="text/css" href="~/Content/myStyle/style.css" />
<head>
    <title>
        DEGREY
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />

</head>
@if (Model.NewProducts != null && Model.NewProducts.Any())
{
    <section class="container-fluid ListProduct">
        <h2>Sản phẩm mới</h2>
        <ul class="list-container">
            <div class="feature-container">
                @foreach (var product in Model.NewProducts)
                {
                    <div class="lproduct-item ">
                        <div>
                            <a href="@Url.Action("ProductDetails","Home",  new {id = product.ProductID})">
                                <img src="@Html.DisplayFor(modelItem => product.ProductImage)" />
                            </a>
                                </div>
                        <div>
                                <div class="prodPrice">
                                    @Html.DisplayFor(modelItem => product.ProductPrice)
                                </div>
                                <div class="prodName">
                                    @Html.DisplayFor(modelItem => product.ProductName)
                                </div>
                                <p class="prodSale">
                                    Đã bán: &nbsp; @Html.DisplayFor(modelItem => product.OrderDetails.Count)
                                </p>
                        </div>
                    </div>
                    
                }
            </div>
        </ul>

    </section>


    <div class="pagination-container">
        @Html.PagedListPager(Model.NewProducts, page => @Url.Action("Index", new { page, searchTerm = Model.SearchTerm }))
    </div>

}

else
{
    <p>Không tìm được sản phẩm phù hợp</p>
}
